<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="img/futbol-americano.png">

   

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">


    <link rel="stylesheet" href="styles.css">
</head>



<header class="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center flex-column">
            <h1>Jugadores Mundiales</h1>
            <nav class="mt-2">
                <ul class="nav flex-column flex-md-row">
                    <li class="nav-item"><a class="nav-link text-white" href="index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="miplantel.html">My Team</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="mundiales.html">Mundiales</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="aboutus.html">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<body data-bs-theme="dark">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 id="card-title">Crear Jugador</h2>
                        <form onsubmit="crear_jugador(event)" method="POST" action="">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre y Apellido</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    placeholder="Nombre y Apellido" required>
                            </div>
                            <div class="mb-3">
                                <label for="edad" class="form-label">Edad</label>
                                <input type="number" class="form-control" id="edad" name="edad" placeholder="99"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="nacionalidad" class="form-label">Nación</label>
                                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad"
                                    placeholder="Argentina" required>
                            </div>
                            <label> Posición: </label> <br>
                            <div class="form-check form-check-inline">
                                <label for="delantero" class="form-check-label">Delantero</label>
                                <input type="radio" class="form-check-input" id="delantero" name="posicion"
                                    value="Delantero" required>
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="centrocampista" class="form-check-label">Centrocampista</label>
                                <input type="radio" class="form-check-input" id="centrocampista" name="posicion"
                                    value="Centrocampista" required>
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="defensor" class="form-check-label">Defensor</label>
                                <input type="radio" class="form-check-input" id="defensor" name="posicion"
                                    value="Defensor" required>
                            </div>

                            <div class="mb-3">
                                <label for="equipo" class="form-label">Equipo</label>
                                <input type="text" class="form-control" id="equipo" name="equipo"
                                    placeholder="Boca Juniors">
                            </div>
                            <div class="mb-3">
                                <label for="imagen" class="form-label">Imagen</label>
                                <input type="text" class="form-control" id="imagen" name="imagen" placeholder="URL"
                                    required>
                            </div>

                            <button type="submit" class="btn btn-success"> Crear Jugador</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        function handle_response(data) {
            console.log("Respuesta del servidor:", data); 
            if (data.jugador) {
                window.location.href = `/jugador.html?id=${data.jugador.id}`;
            } else {
                alert("Error al crear el jugador.");
            }
        }

        function crear_jugador(event) {
            event.preventDefault()
            const formData = new FormData(event.target);

            const nombre = formData.get("nombre");
            const edad = formData.get("edad");
            const nacionalidad = formData.get("nacionalidad");
            const posicion = formData.get("posicion");
            const equipo = formData.get("equipo");
            const imagen = formData.get("imagen");

            fetch("http://127.0.0.1:5000/nuevojugador", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify({
                    nombre: nombre,
                    edad: edad,
                    nacionalidad: nacionalidad,
                    posicion: posicion,
                    equipo: equipo,
                    imagen: imagen,
                })
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Error en la solicitud: " + response.statusText);
                    }
                    return response.json();
                })
                .then(handle_response)
                .catch((error) => console.log("ERROR", error))

        }
    </script>
    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://wa.me" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
        <div class="signature">
            Adictos al Refrian#x
        </div>
    </footer>

</body>


</html>